
h1 { color: red;
    }
p { color: red;
            font-family: Helvetica;
    font-size: 16px;
        }
      
            }
 h2  {color: green;
            background: orange;
            }
       
span.ul1 {background:teal;}
span.ol1 {background: yellow;} 
